<template>
  <div class="dashboard">
    <b-container>
      <b-alert variant="danger" :show="!emailVerified">
        Heads up! Check your inbox to verify your email. You can't be added to
        groups until you do.
      </b-alert>
    </b-container>
    <DeviceList />
    <Groups />
  </div>
</template>

<script>
import DeviceList from "@/components/DeviceList.vue";
import Groups from "@/components/Groups.vue";

export default {
  name: "dashboard",
  metaInfo: {
    title: "Dashboard"
  },
  components: {
    DeviceList,
    Groups
  },
  data() {
    return {
      emailVerified: true
    };
  },
  created() {
    this.$store.dispatch("nav/setBc", ["DripDash", "Home", "Summary"]);
    // Show the reminder to verify email if the user hasn't done this.
    this.$auth
      .getIdTokenClaims()
      .then(claims => (this.emailVerified = claims.email_verified));
  }
};
</script>

<style scoped lang="scss">
.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem 0;
}
</style>
