<template>
  <b-card>
    <div class="header">
      <h4>Control</h4>
      <span class="pending text-muted" v-if="pending">
        Sending
        <b-spinner type="grow" label="Loading..." class="spinner"/>
      </span>
    </div>
    <b-form>
      <!-- <b-form-checkbox v-model="autoBed" name="check-button" switch>
        Automatic Bed Control
      </b-form-checkbox>
      <hr /> -->
      <b-alert v-if="autoBed" variant="info" show>Disable auto mode to control beds.</b-alert>
      <b-form-group v-else v-for="bed in beds" v-bind:key="bed.bedNumber" :label="`Bed ${bed.bedNumber}`" class="control-btns">
        <b-form-radio-group
          v-model="setBeds[bed.bedNumber]"
          :options="bedOptions"
          :id="`bed-control-${bed.bedNumber}`"
          :name="`bed-control-${bed.bedNumber}`"
          buttons
          class="d-flex"
          button-variant="outline-primary"
          size="sm"
        ></b-form-radio-group>

      </b-form-group>
    </b-form>
  </b-card>
</template>

<script>
import { gql } from "@apollo/client/core";

export default {
  name: "ControlCard",
  components: {},
  props: {
    beds: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      autoBed: false,
      pending: false,
      setBeds: {},
      bedOptions: [
        {text: "Fill", value: "fill"},
        {text: "Drain", value: "drain"}
      ]
    };
  },
  watch: {
    beds(newBeds) {
      let result = {}
      newBeds.forEach(bed => {
        result[bed.bedNumber] = bed.status > 1 ? "drain" : "fill";
      });

      // once we've created the new beds object, set it once to setBeds.
      // (preventing extraneous watch triggers)
      this.setBeds = result;
    },
    setBeds: {
      deep: true,
      async handler(newBeds) {
        // called both when a user selects a form item, or when the beds watcher
        // triggers a setBeds update.
        for (let [key, value] of Object.entries(newBeds)) {
          let originalValue = this.beds[key].status > 1 ? "drain" : "fill";

          // compare each item of setBeds against the beds prop.
          // if there's a difference this implies that the watcher was triggered by
          // user input, otherwise it's due to the bed watcher.
          if (value != originalValue) {
            console.log(`Bed ${key} was ${originalValue}, now ${value}.`)
            this.pending = true;
            await this.$apollo.mutate({
              mutation: gql`
                mutation($device: String!, $bed: Int, $state: String) {
                  setDeviceBedState(device: $device, bed: $bed, state: $state) {
                    id
                  }
                }
              `,
              variables: {
                device: this.$route.params.id,
                bed: parseInt(key),
                state: value
              }
            });
            this.pending = false;
          }
        }
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pending {
  display: flex;
  align-items: center;

  .spinner {
    height: 1rem;
    width: 1rem;
    margin-left: 0.5rem;
  }
}
</style>
