<template>
  <div id="app">
    <DripNav :updating="updating" :updated="updated" />
    <router-view />
  </div>
</template>

<script>
import DripNav from "@/components/DripNav.vue";

export default {
  name: "dripdash",
  components: {
    DripNav
  },
  metaInfo: {
    title: "Home",
    titleTemplate: "%s :: DripDash"
  },
  data() {
    return {
      fetchCount: 0,
      updated: new Date()
    };
  },

  computed: {
    updating: function() {
      return !!this.fetchCount;
    }
  },

  created: function() {
    document.addEventListener("apollo-status", e => {
      switch (e.detail) {
        case "fetching":
          this.fetchCount += 1;
          break;
        case "fetched":
          this.updated = new Date();
        case "fail": // eslint-disable-line no-fallthrough
          this.fetchCount -= 1;
          break;
      }

      this.fetchCount = Math.max(this.fetchCount, 0);
    });
  }
};
</script>

<style lang="scss">
// unscoped styles to modify html, body.
body {
  min-height: 100%;
  background-color: var(--light);
}

html {
  height: 100%;
}

:root {
  --accent: #0db8b0;
  --accent-darker: #009f97;
}
</style>
